<!--
<section class="propiedad my-5">
  <div class="container-fluid p-0">


    <div *ngFor="let propiedad of propiedades; let i = index;">



      <ng-container
        [ngTemplateOutlet]="esPar(i)? propiedadInpar : propiedadPar"
        [ngTemplateOutletContext]="{p:propiedad}"
      ></ng-container>

    </div>

    <ng-template #propiedadInpar let-link='p'>
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 propiedad-img"

             [ngStyle]="{'background-image': 'url(' + (link.urlFotoPrincipal|urlFoto) + ')'}"
        >

        </div>


        <div class="col-lg-6 order-lg-1 my-auto propiedad-text">


          <h2>{{link.callePrincipal}}</h2>

          <h3 class="propiedad-precio">$ {{link.precioPromocional}}</h3>

          <div class="my-2">
            <button type="button" class="btn bg-orange">
              Me interesa
            </button>
            <button type="button" class="ml-0 ml-md-2 btn bg-orange" routerLink="/propiedad/{{link.id}}">
              Mas informacion
            </button>
          </div>

          <p class="lead mb-0">{{link.observacion}}</p>


        </div>
      </div>
    </ng-template>

    <ng-template #propiedadPar let-link='p'>

      <div class="row no-gutters">
        <div class="col-lg-6 propiedad-img"
             [ngStyle]="{'background-image': 'url(' + (link.urlFotoPrincipal|urlFoto) + ')'}"
        ></div>
        <div class="col-lg-6 my-auto propiedad-text">

          <h2>{{link.callePrincipal}}</h2>

          <h3 class="propiedad-precio">$ {{link.precioPromocional}}</h3>

          <div class="my-2">
            <button type="button" class="btn bg-orange">
              Me interesa
            </button>
            <button type="button" class="ml-0 ml-md-2 btn bg-orange" routerLink="/propiedad/{{link.id}}">
              Mas informacion
            </button>
          </div>

          <p class="lead mb-0">{{link.observacion}}</p>


        </div>
      </div>

    </ng-template>


  </div>
</section>
-->

<app-propiedad-filter (buscar)="buscarPropiedades($event)"></app-propiedad-filter>

<div class="container-fluid my-5">

  <div class="row justify-content-center">


    <div class="col-sm-6 col-lg-4 mb-3" *ngFor="let propiedad of propiedades">

      <div class="card box-shadow" style="height: 380px; width: 100%">
        <div class="card-header" (click)="propiedadInfo(propiedad.id)">
          <img style="height: 220px; width: 100%" src="{{propiedad.urlFotoPrincipal |urlFoto}}" alt="">
        </div>

        <div class="card-body">
          <h6 class="propiedad-precio">${{propiedad.precioPromocional}}</h6>
          <h6>
            {{propiedad.callePrincipal}}
            <span *ngIf="propiedad.calleSecundaria">y</span>
            {{propiedad.calleSecundaria}}
          </h6>
          <h6>
            SECTOR: {{propiedad.sector.nombre}}
          </h6>
          <h6>
            AREA TOTAL: {{propiedad.areaTotal}}
          </h6>
        </div>
        <!--CARD-BODY-->

      </div>
      <!--CARD-->


    </div>
    <!--COL-->

  </div>
  <!--ROW-->

</div>
