header.cabecera {
    position: relative;
    background-color: #343a40;
    background: url("https://images.pexels.com/photos/1181438/pexels-photo-1181438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
header.cabecera .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}
  
header.cabecera h1 {
    font-size: 2rem;
}
  
@media (min-width: 768px) {
    header.cabecera {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    header.cabecera h1 {
        font-size: 3rem;  
    }
}