.contacto {
    position: relative;
    background-color: #343a40;
    background: url("https://i.ytimg.com/vi/G1CrsRMZH3o/maxresdefault.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.contacto .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}
  