<section class="contact-section">
    <div class="container">

      <h2 class="contact-section-heading text-center text-uppercase text-secondary mb-0">Contacto</h2>

      <div class="row">
        <div class="col-lg-8 mx-auto">

          <form>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Nombre:</label>
                <input class="form-control" type="text" placeholder="Nombre" required>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Correo eletronico:</label>
                <input class="form-control" type="email" placeholder="Correo eletronico" required >

              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Telefono:</label>
                <input class="form-control" type="tel" placeholder="Telefono" required >

              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Mensaje:</label>
                <textarea class="form-control" rows="5" placeholder="Mensaje" required ></textarea>

              </div>
            </div>
            <br>

            <div class="form-group">
              <button class="btn bg-orange btn-block text-white">Enviar</button>
            </div>
          </form>
        </div>
      </div>

    </div>
</section>
