<!-- Cabecera -->
<header class="cabecera text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Grupo Inmobiliario FLL</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <button type="submit" class="btn btn-block bg-orange h3">Ver propiedades</button>
            </div>
        </div>
    </div>
</header>

<!-- Ofertas -->
<section class="nosotros-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="nosotros-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="nosotros-icons-icon d-flex">
                        <img class="mx-auto" src="../../../../assets/venta.png" alt="">
                    </div>
                    <h3>Venta</h3>
                    <p class="lead mb-0">Casas, departamentos, terrenos, naves.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nosotros-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="nosotros-icons-icon d-flex">
                            <img class="mx-auto" src="../../../../assets/compra.png" alt="">
                    </div>
                    <h3>Compra</h3>
                    <p class="lead mb-0">Casas, departamentos, terrenos, naves.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nosotros-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="nosotros-icons-icon d-flex">
                        <img class="mx-auto" src="../../../../assets/renta.png" alt="">
                    </div>
                    <h3>Renta</h3>
                    <p class="lead mb-0">Departamentos.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-contacto></app-contacto>
