<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-12">
            <h1>Grupo Inmobiliario FLL</h1>
            <p class="lead">Nuestra Inmobiliaria pertenece al gremio de profesionales de la Asociación de Corredores de
                Bienes Raíces “ACBIR AZUAY” en la cual nos hemos preparado en este ámbito y obtenido la licencia
                profesional N° 195A la cual nos permite realizar el asesoramiento necesario a las personas que los
                requieran como: avalúos, compra, venta, arriendo, trámites municipales, tramites notariales,
                registraduría de la propiedad, consultoría y asesoramiento general en Bienes Raíces, brindando así una
                mayor seguridad y confiabilidad en el proceso que se realiza.</p>
        </div>
    </div>
</div>

<!-- Equipo -->
<section class="equipo text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="equipo-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="../../../../assets/fll/jefafll.jpg" alt="">
                    <h5>C.B.R. FLORA LLIVICHUZHCA</h5>
                    <p class="font-weight-light mb-0">"Lic. Profesional"</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container mt-5 mb-3">

    <div class="row">

        <div class="col-12 col-md-6">
            <h2>Misión</h2>
            <p class="lead">Como empresa nuestra mayor misión es brindar un servicio de asesoría inmobiliaria
                personalizada orientada a cuidar el patrimonio de nuestros clientes, con ética y profesionalismo,
                proporcionando a nuestros clientes asesoría inmobiliaria personalizada e integral, con ética, honestidad
                y discreción, siempre orientados al servicio personalizado en todas las etapas de nuestra intervención
                en la venta, compra o alquiler, basados en nuestra experiencia y capacitación en el sector.</p>
        </div>


        <div class="col-12 col-md-6">
            <h2>Visión</h2>
            <p class="lead">Ser la mejor alternativa para quienes quieren la ayuda de un profesional inmobiliario, desde
                una relación cercana y resolutiva, ofreciendo las propuestas más innovadoras.
                Que nuestros clientes se sientan plenamente acompañados y asesorados durante todo el proceso de compra
                de una propiedad, para mejorar su calidad de vida.</p>
        </div>

    </div>

</div>


<header class="cabecera text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2>Dirección: </h2>
                <h1 class="mb-3">Gonzáles Suárez 8-41 y Jijón Caamaño</h1>
            </div>
            <div class="col-xl-9 mx-auto">
                <h2>Contactos: </h2>
                <h1 class="mb-3">2804483 - 098475173</h1>
            </div>

            <div class="col-xl-9 mx-auto">
                <h2>Correo: </h2>
                <h1 class="mb-3">grupoinmobiliariofll@hotmail.com</h1>
            </div>
        </div>
    </div>
</header>
