.equipo {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
.equipo .equipo-item {
    max-width: 20rem;
}
  
.equipo .equipo-item img {
    max-width: 9rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}