footer.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  
#main-foot .list-inline-item {
    display: inline-block;
    font-size: 1.3rem;
}
  
#main-foot .list-inline-item:not(:last-child) {
    margin-right: 0.6rem;
}
  
#main-foot .list-inline-item a {
    color: white;
    text-decoration: none;
    padding: 4px;
}
/*
#main-foot .list-inline-item a:hover {
    color: black;
    background-color: #f7f1e3;
    padding: 4px;
    border-radius: 5px;
}
  */
.separador-foot {
    font-size: 1.8rem;
    color: white;
}


.fab {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;

    background-color: #FFFFFF;

    position: fixed;
    right: 50px;
    bottom: 50px;

    transition: all 0.1s ease-in-out;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}