<footer id="main-foot" class="footer bg-orange ">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">

            <li class="list-inline-item">
              <a  [routerLink]="['nosotros']">Sobre nosotros</a>
            </li>
            <li class="list-inline-item"> <span class="separador-foot">~</span> </li>
            <li class="list-inline-item">
              <a  [routerLink]="['contactanos']">Contactanos</a>
            </li>
            <li class="list-inline-item"><span class="separador-foot">~</span></li>
            <li class="list-inline-item">
              <a  [routerLink]="['direccion']" >Ubicacion</a>
            </li>

          </ul>
          <p class="text-color mb-4 mb-lg-0">&copy; Grupo Inmobiliario FLL 2019. <br> Todos los derechos reservados.</p>
        </div>

        <div class="col-lg-4 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#" target="_blank">
                F
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                T
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                W
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>


